name: Release

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install luacheck
        run: sudo apt-get install lua-check
      - name: Run luacheck
        run: luacheck .
      - name: Package and release
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
        run: curl -s https://raw.githubusercontent.com/BigWigsMods/packager/master/release.sh | bash
      - name: Rename zip
        run: mv .release/HuokanAdvertiserTools-*.zip .release/HuokanAdvertiserTools.zip
      - name: Upload to discord bot
        if: startsWith(github.ref, 'refs/tags/')
        uses: appleboy/scp-action@v0.1.1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          source: .release/HuokanAdvertiserTools.zip
          target: release/HuokanAdvertiserTools.zip
      - name: SSH Remote Commands
        if: startsWith(github.ref, 'refs/tags/')
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: screen -dm bash -c "./update_addon"
